.gif-cutting-form-container {
    border: 1px solid black;
    width: 500px;
    display: inline-block;
    form label {
        display: block;
    }
    
    .minute-input {
        width: 50px;
    }

    .seconds-input {
        width: 50px;
    }
}